<!-- Comienza el Header -->
<ion-header>
  <ion-toolbar color="duoc-azul">
    <div class="header-content">
      <div class="logo-text">
        <span class="duoc-yellow">Duoc</span>
        <span class="duoc-white">UC</span>
        <img src="assets/images/logo-uc.png" alt="Logo UC" class="logo-uc">
      </div>
      <ion-title class="text-left" #titulo>
        Sistema de Asistencia 
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-title class="ion-text-center">
  <h1>Mis Datos</h1>
</ion-title>
<!-- Termina  el Header -->

<ion-content [fullscreen]="true" #page class="ion-padding-horizontal">
  
<!-- Bienvenida -->

<div class="background-image"></div>
  
<!-- Cuenta (Desde Usuario) -->
<ion-card>

  <ion-card-header>
    <ion-card-title>Mis datos</ion-card-title> 
  </ion-card-header>


  <ion-card-content>
    
  
    
  </ion-card-content>
</ion-card>

<!-- Termina el Content -->


<!-- Comienza el Footer -->

<ion-tab-bar slot="bottom">
  <ion-tab-button (click)="MisdatosPage()">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Mis Datos</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="InicioPage()">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="MiclasePage()">
    <ion-icon name="school-outline"></ion-icon>
    <ion-label>Mi Clase</ion-label>
  </ion-tab-button>
</ion-tab-bar>

<!-- Termina el Footer -->
