<!-- Comienza el Header -->
<ion-header>
  <ion-toolbar color="duoc-azul">
    <!-- Título alineado a la derecha -->
    <ion-title class="ion-text-center">
      Sistema de Asistencia
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Termina el Header -->

<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top">
    <ion-label>
      <h1 class="ion-text-center">¡Bienvenido!</h1>
      <!-- {{interpolacion}} 
          Permite mostrar los datos desde el script a la visual
          verificar el data en el home.page.ts
        -->
      <p *ngIf="usuario">Usuario: Ana Torres Leiva {{ usuario.nombre }}</p>
    </ion-label>
  </ion-title>
  <b class="ion-text-center">
    <h4>Información </h4>
  </b>

 <!-- Formulario de Mis Datos -->
<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input type="text" [(ngModel)]="usuario.nombre"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Apellido</ion-label>
  <ion-input type="text" [(ngModel)]="persona.apellido"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Correo</ion-label>
  <ion-input type="text" [(ngModel)]="usuario.correo" class="ion-text-left"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Pregunta Secreta</ion-label>
  <ion-input type="text" [(ngModel)]="usuario.preguntaSecreta"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Respuesta Secreta</ion-label>
  <ion-input type="text" [(ngModel)]="usuario.respuestaSecreta"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Educación</ion-label>
  <ion-select placeholder="Seleccione nivel" [(ngModel)]="persona.nivelEducacional.id">
    <ion-select-option *ngFor="let nivelEducacional of nivelesEducacionales" [value]="nivelEducacional.id">
      {{nivelEducacional.nombre}}
    </ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label position="floating">Fecha Nacimiento</ion-label>
  <ion-input type="date" [(ngModel)]="persona.fechaNacimiento"></ion-input>
</ion-item>


  


  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button shape="block" (click)="limpiarFormulario()">
          Limpiar
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button shape="block" (click)="mostrarDatosPersona()">
          Mostrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- Termina el Content -->


<!-- Comienza el Footer -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/misdatos']">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Mis Datos</ion-label>
    </ion-tab-button>
  
    <ion-tab-button [routerLink]="['/inicio']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
  
    <ion-tab-button [routerLink]="['/miclase']">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Mi Clase</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
<!-- Termina el Footer -->
