<!-- Comienza el Header -->
<ion-header>
  <ion-toolbar color="duoc-azul">
    <ion-title class="ion-text-right ion-text">
      Sistema de Asistencia 
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Termina el Header -->

<!-- Comienza el Content -->
<ion-content class="ion-padding">

  <!-- Contenedor del saludo y el nombre -->
  <div style="text-align: center;">
    <h1>¡Bienvenido(a)!</h1>
  </div>

  <!-- Contenedor del código QR -->
  <div style="text-align: center; margin: 20px 0;">
    <p>Escanea el código QR para registrar tu asistencia a clases</p>
    <div style="width: 200px; height: 200px; background-color: lightgray; margin: 0 auto;">
      <!-- Aquí irá el código QR -->
    </div>
  </div>





  
  <!-- Botón de Cerrar sesión -->
  <div style="text-align: center; margin-top: 30px;">
    <ion-button color="danger">
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>
<!-- Termina el Content -->



<!-- Comienza el Footer -->

<ion-tab-bar slot="bottom">
  <ion-tab-button [routerLink]="['/misdatos']">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Mis Datos</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/inicio']">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/miclase']">
    <ion-icon name="school-outline"></ion-icon>
    <ion-label>Mi Clase</ion-label>
  </ion-tab-button>
</ion-tab-bar>

<!-- Termina el Footer -->



