$duoc-azul: #003366;
$duoc-amarillo: #F1B634;
$texto-blanco: #ffffff;
$input-background: #ffffff; // Fondo blanco para el input

ion-content {
    --background: #003366; // Fondo general azul
}

.forgot-password-card {
    margin: 10% auto;
    width: 80%;
    max-width: 400px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    img.logo-uc {
        width: 350px; // Ajustamos el tamaño del logo para que quede dentro de la caja
        margin-bottom: 10px;
    }

    h2 {
        margin-bottom: 10px;
        font-size: 1rem;
        color: $duoc-azul;
    }

    h3 {
        margin-bottom: 15px;
        font-size: 1.4rem;
        color: $duoc-azul;
    }

    .image-container {
        margin-bottom: 10px;
        img.error-image {
            width: 100%; // Ajustar la imagen al tamaño del contenedor
            max-width: 300px; // Puedes ajustar este valor según sea necesario
            border-radius: 8px; // Esto es opcional si deseas bordes redondeados en la imagen
        }
    }

    .login-link {
        display: block;
        margin-top: 15px;
        color: $duoc-azul;
        text-decoration: none;
        font-size: 0.9rem;

        &:hover {
            text-decoration: underline;
        }
    }
}
