<!-- Comienza el Header -->
<ion-header>
  <ion-toolbar color="duoc-azul">
    <ion-title #titulo class="">
      Sistema de Asistencia Duoc
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="centered-item ion-text-center" >
  <h1>Mi clase</h1>
  <h2 *ngIf="usuario"> {{ usuario.nombre }}</h2>
</div>

<!-- Comienza el Content -->
<ion-content class="ion-padding">

  <!-- Tabla minimalista con colores institucionales de Duoc -->
<ion-card>
  <ion-card-header color="duoc-azul">
    <ion-card-title class="ion-text-center">Información de la Clase</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row class="header-row">
        <ion-col><strong>Bloque de Inicio</strong></ion-col>
        <ion-col>{{ bloqueInicio }}</ion-col>
      </ion-row>

      <ion-row class="data-row">
        <ion-col><strong>Bloque de Término</strong></ion-col>
        <ion-col>{{ bloqueTermino }}</ion-col>
      </ion-row>

      <ion-row class="header-row">
        <ion-col><strong>Día</strong></ion-col>
        <ion-col>{{ dia }}</ion-col>
      </ion-row>

      <ion-row class="data-row">
        <ion-col><strong>Hora de Inicio</strong></ion-col>
        <ion-col>{{ horaInicio }}</ion-col>
      </ion-row>

      <ion-row class="header-row">
        <ion-col><strong>Hora de Fin</strong></ion-col>
        <ion-col>{{ horaFin }}</ion-col>
      </ion-row>

      <ion-row class="data-row">
        <ion-col><strong>Sigla</strong></ion-col>
        <ion-col>{{ idAsignatura }}</ion-col>
      </ion-row>

      <ion-row class="header-row">
        <ion-col><strong>Nombre de Asignatura</strong></ion-col>
        <ion-col>{{ nombreAsignatura }}</ion-col>
      </ion-row>

      <ion-row class="data-row">
        <ion-col><strong>Nombre del Profesor</strong></ion-col>
        <ion-col>{{ nombreProfesor }}</ion-col>
      </ion-row>

      <ion-row class="header-row">
        <ion-col><strong>Sección</strong></ion-col>
        <ion-col>{{ seccion }}</ion-col>
      </ion-row>

      <ion-row class="data-row">
        <ion-col><strong>Sede</strong></ion-col>
        <ion-col>{{ sede }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

</ion-content>
<!-- Termina el Content -->

<!-- Comienza el Footer -->
<ion-tab-bar slot="bottom">
  <ion-tab-button [routerLink]="['/misdatos']">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Mis Datos</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/inicio']">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/miclase']">
    <ion-icon name="school-outline"></ion-icon>
    <ion-label>Mi Clase</ion-label>
  </ion-tab-button>
</ion-tab-bar>
<!-- Termina el Footer -->
