<!-- Comienza el Header -->
<ion-header>
  <ion-toolbar color="duoc-azul">
    <ion-title class="ion-text-center ion-text">
      Sistema de Asistencia
    </ion-title>
  </ion-toolbar>
</ion-header>



<!-- Comienza el Content -->
<ion-content class="ion-padding">
  <!-- Información de la Clase -->
  <ion-toolbar color="duoc-azul">
    <ion-title>Información de la Clase</ion-title>
  </ion-toolbar>

  <div *ngIf="datosClase">
    <h2>{{ datosClase.nombreAsignatura }}</h2>
    <p><strong>Sede:</strong> {{ datosClase.sede }}</p>
    <p><strong>ID Asignatura:</strong> {{ datosClase.idAsignatura }}</p>
    <p><strong>Sección:</strong> {{ datosClase.seccion }}</p>
    <p><strong>Profesor:</strong> {{ datosClase.nombreProfesor }}</p>
    <p><strong>Día:</strong> {{ datosClase.dia }}</p>
    <p><strong>Bloque Inicio:</strong> {{ datosClase.bloqueInicio }}</p>
    <p><strong>Bloque Término:</strong> {{ datosClase.bloqueTermino }}</p>
    <p><strong>Hora de Inicio:</strong> {{ datosClase.horaInicio }}</p>
    <p><strong>Hora de Fin:</strong> {{ datosClase.horaFin }}</p>
  </div>
</ion-content>
<!-- Termina el Content -->

<!-- Comienza el Footer -->
<ion-tab-bar slot="bottom">
  <ion-tab-button [routerLink]="['/misdatos']">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Mis Datos</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/inicio']">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/miclase']">
    <ion-icon name="school-outline"></ion-icon>
    <ion-label>Mi Clase</ion-label>
  </ion-tab-button>
</ion-tab-bar>
<!-- Termina el Footer -->
